PORT=8080
NODE_ENV=development
CLIENT_URL=http://asgard

# Database
DB_HOST=localhost
DB_PORT=5454
DB_USER=postgres
DB_PASSWORD=<you_db_password>
DB_NAME=chore_tracker
SESSION_SECRET=<your_session_secret>

# JWT
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=30d
JWT_SECRET=<your_jwt_secret>